{% extends 'user/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="container">
        <img src="{{ user.img }}" width="50px"/>
        <h2>{{ user.prenom | lower | capitalize }} {{ user.nom | upper }}</h2>
        <ul>
            <li>
                {#Date de naissance : {{ user.birthdate | date('d/m/Y')}}#}
                Date de naissance : {{ user.birthdate | friendlydate }} {# Filtre custom créé dans AppBundle\Twig\FriendlyDateExtension #}
            </li>
            <li>
                Age : {{ user.age }} {# Twig va automatiquement aller chercher User#getAge() #}
            </li>
            <li>
                <button data-spam-url="{{ path('user_send_email', {'email': user.email}) }}" id="sendMailBtn" title="Envoyer un joli mail :)">
                    {{ user.email }}
                </button>
            </li>
        </ul>
        <div class="user_images">
            <h3>Images</h3>
            {% if user.profileImages | length > 0 %}
                {% for img in user.profileImages %}
                    <img src="{{ img.url }}" width="50px"/>
                {% endfor %}
            {% else %}
                Aucune image
            {% endif %}

        </div>
        <div class="user_groups">
            <h3>Groupes</h3>

            {% if user.groups | length > 0 %}
            <ul>
                {% for group in user.groups %}
                    <li>{{ group.name }}</li>
                {% endfor %}
            </ul>
            {% else %}
                Cet utilisateur n'appartient à aucun groupe
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('mail.js', 'user_js') }}"></script>
{% endblock %}